@import "adminImages";

@media (min-width: $lg) {
  div.admin-content {
    display: flex;
    flex-wrap: nowrap;

    .admin-sidebar {
      width: 280px;

      .collapse {
        width: inherit;

        ul {
          width: inherit;
        }
      }

    }

    > * {
      flex-shrink: 0;
    }

    div.admin-wrapper {
      // 100% width for content minus sidebar and scrollbar
      width: calc(100vw - (100vw - 100%) - 280px);
    }

    div.admin-sidebar {
      min-height: 100vh;
    }
  }
}


