div.admin-wrapper {

  .image-upload-preview {
    display: flex;
    min-height: 250px;
    border: 1px solid #ced4da;
    padding: 1em;
    border-radius: .25rem;
    flex-direction: column;

    span {
      margin: auto;
      padding-bottom: 1rem;
    }

    img.image-upload {

    }
  }

  table.table-images {

    div.admin-image-container {
      width: 200px;
      height: 112.5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}