$mainThemeColor: #0d6efd;  // price, buttons
$primaryBackground: #fff;
$secondaryBackground: #23282d;
$link: #23282d;
$linkSecondary: #fff;







// Device width
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;