@import "colors";
@import "header";
@import "adminStyles";
@import "singleProduct";
@import "products";
@import "cart";


/* Root */
body {

}




/* Global classes */
.required {
  color: red;
  font-size: 1.1em;
}

.form-width-700 {
  max-width: 700px;
}

ul.nav-child {
  padding-inline-start: 1.5rem;
}

a.link-location {
  font-weight: 500;
  text-decoration: none;
}






/* Animations */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}





